/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require decidim
 *= require_tree .
 *= require_self
 */
 a {
    color:#0E97FA;
  }
  a:hover, a:focus {
    color:#0E97FA;
    opacity: 0.7;
  }
  .link {
    color:#0E97FA;
  }
  /* font */
  h1, .h1 {
      font-size: 2rem;
      line-height: 1.3;
      margin-top: 0;
      margin-bottom: 0.5rem
  }
  h2, .h2 {
      font-size: 1.625rem;
      line-height: 1.3;
      margin-top: 0;
      margin-bottom: 0.5rem
  }
  h3, .h3 {
      font-size: 1.5rem;
      line-height: 1.3;
      margin-top: 0;
      margin-bottom: 0.5rem
  }
  h4, .h4 {
      font-size: 1.375rem;
      line-height: 1.3;
      margin-top: 0;
      margin-bottom: 0.5rem
  }
  h5, .h5 {
      font-size: 1.25rem;
      line-height: 1.3;
      margin-top: 0;
      margin-bottom: 0.5rem
  }
  h6, .h6 {
      font-size: 1rem;
      line-height: 1.3;
      margin-top: 0;
      margin-bottom: 0.5rem
  }
  @media print, screen and (min-width: 40em) {
      h1, .h1 {
          font-size: 2.6rem
      }
      h2, .h2 {
          font-size: 2rem
      }
      h3, .h3 {
          font-size: 1.75rem
      }
      h4, .h4 {
          font-size: 1.5rem
      }
      h5, .h5 {
          font-size: 1.25rem
      }
      h6, .h6 {
          font-size: 1rem
      }
  }
  .heading1 {
    font-size:2em;
    line-height: 1.1;
  }
  @media print, screen and (min-width: 40em) {
  .heading1 {
    font-size:2.6em;
    line-height: 1.3;
  }
  }
  /* button */
  .button {
      background-color: #e99401;
  }
  .button:hover, .button:focus {
      background-color: #555;
  }
  .button.primary {
      background-color: #e99401;
  }
  .button.primary:hover, .button.primary:focus {
      background-color: #555;
  }
  .button.secondary {
      background-color: #0e97fa;
      color: #fff
  }
  .button.secondary:hover, .button.secondary:focus {
      background-color: #555;
      color: #fff
  }
  .button.success {
      background-color: #00489c;
      color: #fff
  }
  .button.success:hover, .button.success:focus {
      background-color: #555;
      color: #fff
  }
  .button.warning {
      background-color: #ec5fc0;
      color: #fff
  }
  .button.warning:hover, .button.warning:focus {
      background-color: #555;
      color: #fff
  }
  .button.alert {
      background-color: #df4922;
      color: #fff
  }
  .button.alert:hover, .button.alert:focus {
      background-color: #555;
      color: #fff
  }
  .button.disabled, .button.disabled:hover, .button.disabled:focus, .button[disabled], .button[disabled]:hover, .button[disabled]:focus {
      background-color: #aaa;
      color: #fff
  }
  .button.disabled.primary, .button.disabled.primary:hover, .button.disabled.primary:focus, .button[disabled].primary, .button[disabled].primary:hover, .button[disabled].primary:focus {
      background-color: #aaa;
      color: #fff
  }
  .button.disabled.secondary, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
      background-color: #aaa;
      color: #fff
  }
  .button.disabled.success, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success, .button[disabled].success:hover, .button[disabled].success:focus {
      background-color: #aaa;
      color: #fff
  }
  .button.disabled.warning, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning, .button[disabled].warning:hover, .button[disabled].warning:focus {
      background-color: #aaa;
      color: #fff
  }
  .button.disabled.alert, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert, .button[disabled].alert:hover, .button[disabled].alert:focus {
      background-color: #aaa;
      color: #fff
  }
  .button.hollow {
      border: 1px solid #e99401;
      color: #e99401
  }
  .button.hollow.disabled, .button.hollow.disabled:hover, .button.hollow.disabled:focus, .button.hollow[disabled], .button.hollow[disabled]:hover, .button.hollow[disabled]:focus {
    border-color: #aaa;
      color: #aaa
  }
  .button.hollow:hover, .button.hollow:focus {
      background-color: #555;
    border-color: #555;
      color: #fff;
  }
  .button.hollow:hover.disabled, .button.hollow:hover[disabled], .button.hollow:focus.disabled, .button.hollow:focus[disabled] {
      border: 1px solid #aaa;
      color: #aaa
  }
  .button.hollow.primary {
      border: 1px solid #e99401;
      color: #e99401
  }
  .button.hollow.primary:hover, .button.hollow.primary:focus {
      background-color: #555;
      border-color: #555;
      color: #fff
  }
  .button.hollow.primary:hover.disabled, .button.hollow.primary:hover[disabled], .button.hollow.primary:focus.disabled, .button.hollow.primary:focus[disabled] {
      border: 1px solid #aaa;
      color: #aaa
  }
  .button.hollow.secondary {
      border: 1px solid #0e97fa;
      color: #0e97fa
  }
  .button.hollow.secondary:hover, .button.hollow.secondary:focus {
      background-color: #555;
      border-color: #555;
      color: #fff
  }
  .button.hollow.secondary:hover.disabled, .button.hollow.secondary:hover[disabled], .button.hollow.secondary:focus.disabled, .button.hollow.secondary:focus[disabled] {
      border: 1px solid #aaa;
      color: #aaa
  }
  .button.hollow.success {
      border: 1px solid #00489c;
      color: #00489c
  }
  .button.hollow.success:hover, .button.hollow.success:focus {
      background-color: #555;
    border-color: #555;
      color: #fff
  }
  .button.hollow.success:hover.disabled, .button.hollow.success:hover[disabled], .button.hollow.success:focus.disabled, .button.hollow.success:focus[disabled] {
      border: 1px solid #aaa;
      color: #aaa
  }
  .button.hollow.warning {
      border: 1px solid #ec5fc0;
      color: #ec5fc0
  }
  .button.hollow.warning:hover, .button.hollow.warning:focus {
      background-color: #555;
      border-color: #555;
      color: #fff
  }
  .button.hollow.warning:hover.disabled, .button.hollow.warning:hover[disabled], .button.hollow.warning:focus.disabled, .button.hollow.warning:focus[disabled] {
      border: 1px solid #aaa;
      color: #aaa
  }
  .button.hollow.alert {
      border: 1px solid #df4922;
      color: #df4922
  }
  .button.hollow.alert:hover, .button.hollow.alert:focus {
      background-color: #555;
      border-color: #555;
      color: #fff
  }
  .button.hollow.alert:hover.disabled, .button.hollow.alert:hover[disabled], .button.hollow.alert:focus.disabled, .button.hollow.alert:focus[disabled] {
      border: 1px solid #aaa;
      color: #aaa
  }
  .button.clear {
      border: 1px solid #e99401;
      color: #e99401
  }
  .button.clear, .button.clear:hover, .button.clear:focus {
      background-color: #555;
      border-color: #555;
      color: #aaa
  }
  .button.clear.disabled, .button.clear.disabled:hover, .button.clear.disabled:focus, .button.clear[disabled], .button.clear[disabled]:hover, .button.clear[disabled]:focus {
      border: 1px solid #aaa;
    color: aaa;
  }
  .button.clear:hover, .button.clear:focus {
      background-color: #555;
      border-color: #555;
      color: #fff
  }
  .button.clear:hover.disabled, .button.clear:hover[disabled], .button.clear:focus.disabled, .button.clear:focus[disabled] {
      border: 1px solid #aaa;
      color: #aaa
  }
  .button.clear, .button.clear.disabled, .button.clear[disabled], .button.clear:hover, .button.clear:hover.disabled, .button.clear:hover[disabled], .button.clear:focus, .button.clear:focus.disabled, .button.clear:focus[disabled] {
      border: 1px solid #aaa;
    color: aaa
  }
  .button.clear.primary {
      border: 1px solid #e99401;
      color: #e99401
  }
  .button.clear.primary:hover, .button.clear.primary:focus {
    background-color: #555;
      border-color: #555;
      color: #fff
  }
  .button.clear.primary:hover.disabled, .button.clear.primary:hover[disabled], .button.clear.primary:focus.disabled, .button.clear.primary:focus[disabled] {
      border: 1px solid #aaa;
      color: #aaa
  }
  .button.clear.primary, .button.clear.primary.disabled, .button.clear.primary[disabled], .button.clear.primary:hover, .button.clear.primary:hover.disabled, .button.clear.primary:hover[disabled], .button.clear.primary:focus, .button.clear.primary:focus.disabled, .button.clear.primary:focus[disabled] {
      border-color: aaa
  }
  .button.clear.secondary {
      border: 1px solid #0e97fa;
      color: #0e97fa
  }
  .button.clear.secondary:hover, .button.clear.secondary:focus {
    background-color: #555;
      border-color: #555;
      color: #fff
  }
  .button.clear.secondary:hover.disabled, .button.clear.secondary:hover[disabled], .button.clear.secondary:focus.disabled, .button.clear.secondary:focus[disabled] {
      border: 1px solid #aaa;
      color: #aaa
  }
  .button.clear.secondary, .button.clear.secondary.disabled, .button.clear.secondary[disabled], .button.clear.secondary:hover, .button.clear.secondary:hover.disabled, .button.clear.secondary:hover[disabled], .button.clear.secondary:focus, .button.clear.secondary:focus.disabled, .button.clear.secondary:focus[disabled] {
      border-color: aaa
  }
  .button.clear.success {
      border: 1px solid #00489c;
      color: #00489c
  }
  .button.clear.success:hover, .button.clear.success:focus {
    background-color: #555;
      border-color: #555;
      color: #fff
  }
  .button.clear.success:hover.disabled, .button.clear.success:hover[disabled], .button.clear.success:focus.disabled, .button.clear.success:focus[disabled] {
      border: 1px solid #aaa;
      color: #aaa
  }
  .button.clear.success, .button.clear.success.disabled, .button.clear.success[disabled], .button.clear.success:hover, .button.clear.success:hover.disabled, .button.clear.success:hover[disabled], .button.clear.success:focus, .button.clear.success:focus.disabled, .button.clear.success:focus[disabled] {
      border-color: aaa
  }
  .button.clear.warning {
      border: 1px solid #ec5fc0;
      color: #ec5fc0
  }
  .button.clear.warning:hover, .button.clear.warning:focus {
    background-color: #555;
      border-color: #555;
      color: #fff
  }
  .button.clear.warning:hover.disabled, .button.clear.warning:hover[disabled], .button.clear.warning:focus.disabled, .button.clear.warning:focus[disabled] {
      border: 1px solid #aaa;
      color: #aaa
  }
  .button.clear.warning, .button.clear.warning.disabled, .button.clear.warning[disabled], .button.clear.warning:hover, .button.clear.warning:hover.disabled, .button.clear.warning:hover[disabled], .button.clear.warning:focus, .button.clear.warning:focus.disabled, .button.clear.warning:focus[disabled] {
      border-color: aaa
  }
  .button.clear.alert {
      border: 1px solid #df4922;
      color: #df4922
  }
  .button.clear.alert:hover, .button.clear.alert:focus {
    background-color: #555;
      border-color: #555;
      color: #fff
  }
  .button.clear.alert:hover.disabled, .button.clear.alert:hover[disabled], .button.clear.alert:focus.disabled, .button.clear.alert:focus[disabled] {
      border: 1px solid #aaa;
      color: #aaa
  }
  .button.clear.alert, .button.clear.alert.disabled, .button.clear.alert[disabled], .button.clear.alert:hover, .button.clear.alert:hover.disabled, .button.clear.alert:hover[disabled], .button.clear.alert:focus, .button.clear.alert:focus.disabled, .button.clear.alert:focus[disabled] {
      border-color: aaa
  }
  .button.dropdown.hollow::after {
      border-top-color: #e99401
  }
  .button.dropdown.hollow.primary::after {
      border-top-color: #e99401
  }
  .button.dropdown.hollow.secondary::after {
      border-top-color: #0e97fa
  }
  .button.dropdown.hollow.success::after {
      border-top-color: #00489c
  }
  .button.dropdown.hollow.warning::after {
      border-top-color: #ec5fc0
  }
  .button.dropdown.hollow.alert::after {
      border-top-color: #df4922
  }
  
  /* Header */
  .title-bar {
    background: #00489C;
  }
  @media screen and (max-width: 39.9375em) {
  .title-bar {
    border-top: 2.125rem solid #033F84;
  }
  }
  @media print, screen and (min-width: 40em) {
    .topbar__search input, .topbar__search input:focus {
      background:rgba(255,255,255,0.1);
    }
  }
  .topbar__user__login a:hover {
      color: #fff;
  }
  .dropdown.menu .is-active > a {
      color: #fff;
  }
  .topbar__dropmenu .is-dropdown-submenu {
    min-width: 170px;
  }
  .topbar__dropmenu .is-dropdown-submenu li a {
      padding: .5rem;
    font-size: 0.9rem;
      color: #00489C
  }
  .topbar__dropmenu .is-dropdown-submenu li a:hover {
    opacity: 0.7;
      color: #00489C
  }
  .navbar {
    background:#0E97FA;
  }
  .main-nav__link a {
    color: rgba(255,255,255,1);
  }
  .card__link {
    color: #0E97FA;
  }
  .card__link:hover {
    color:#0E97FA;
    opacity: 0.7;
  }
  .card__link .button.hollow.secondary:hover {
    color:#fff;
    opacity: 1;
  }
  /* card__content */
  .card__content .button.hollow.secondary:hover {
    color:#fff;
    opacity: 1;
  }
  /* cookie */
  .cookie-warning a {
    color: #0E97FA;
  }
  /* off-canvas */
  .off-canvas {
    background-color:#0e97fa;
  }
  .usermenu-off-canvas-holder .usermenu-off-canvas {
    border-top:1px solid rgba(255,255,255,0.4);
    border-bottom:1px solid rgba(255,255,255,0.4);
  }
  .off-canvas .topbar__user__login {
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
  }
  
  /* footer */
  .main-footer {
    background: #00489C;
  }
  .main-footer a, .mini-footer a {
    color: #fff;
  }
  
  /* Home highligt */
  @media print, screen and (min-width: 64em) {
  .highligted-content-banner .highligted-content-banner__container {
    padding: 11rem 0;
  }
  }
  .highligted-content-banner::after {
    background-color: unset;
  }
  
  /* Contetns header */
  .process-header__main {
    background-color:#00489c;
  }
  .process-header__main::after {
    background-color:rgba(24,24,24,0.2);
  }
  /* Contetns process-nav__link */
  .process-nav__link:hover {
    color: #e99401;
    opacity: 0.7;
  }
  /* Contents Help */
  .floating-helper__text {
    color:#00489c;
    background-color:rgba(0,72,156,0.1);
  }
  .floating-helper__icon {
    background-color:#00489c;
  }
  /* Contents floating-helper */
  .floating-helper__content {
    background-color:rgba(14,151,250,0.1);
    border-top:5px solid #0e97fa;
  }
  .floating-helper__icon-big {
    background-color:rgba(14,151,250,0.1);
    color:#0e97fa;
  }
  .floating-helper__content-close {
    background-color:#0e97fa;
  }
  
  /* Contents */
  .callout.warning {
    background-color:rgba(236,95,192,0.1);
  }
  /* author__name */
  .author-data a:hover, .author-data button:hover {
      color: #ccc
  }
  .author-data .author__name {
    color: #8c838a;
  }
  /* expanded */
  .dropdown.menu>li.is-dropdown-submenu-parent>a:hover {
    color: #0e97fa;
  }
  .dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    border-color:#0e97fa transparent transparent;
  }
  /* side-panel */
  .side-panel__tabs .tabs-title > [role=tab]:hover, .side-panel__tabs .tabs-title > a:hover {
      color: #e99401;
  }
  .side-panel__tabs .tabs-title.is-active > [role=tab], .side-panel__tabs .tabs-title.is-active > a {
      color: #e99401;
  }
  
  #profile-tabs.tabs .tabs-title a {
    color:#555;
  }
  input:checked ~ .switch-paddle {
    background:#0E97FA;
  }
  .card--list__icon {
    fill: #0E97FA;
  }
  .card--list__data__icon:hover .icon, .card--list__data__icon--lg:hover .icon {
      fill: #0E97FA;
  }