<%= render partial: "decidim/shared/tags.html", locals: { resource: model, tags_class_extra: "tags--proposal" } %>
<p>賛成 <%= comments.count{|comment| comment.alignment == 1} %> 反対 <%= comments.count{|comment| comment.alignment == -1} %></p>
